/*
    STYLES FOR THE CURRENCY CONVERTER PROJECT AT THE MASTERMIND ACADEMY
*/
*{
    font-family: 'PT Sans', sans-serif;
}
body{
    background-color: #2F2D2E;
    text-align: center;
    color: #FCB73E;
}

main{
    width: 300px;
    margin: 30px auto 0px auto;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 25px;
}
label{
    display: block;
    margin-bottom: 10px;
}
button{
    background-color: #FCB73E;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    width: 100px;
}
input,select{
    font-size: 17px;
}

/*IDs*/
#image-initial{
    width: 150px;
    margin-top: 50px;
}
#error{
    color: red;
}


/*CLASS*/
.more_information{
    opacity: 0.5;
    margin-top: 10px;
    font-size: 10px;
}